include *.md requirements.txt

# added by check-manifest
include *.txt
include tox.ini
recursive-include moldf *.typed

# added by check-manifest
include *.yaml
recursive-include docs *.bat
recursive-include docs *.ipynb
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include assets *.svg
recursive-include assets *.png
recursive-include moldf *.cif
recursive-include moldf *.csv
